extends layout

block extraHead
  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
  link(rel="stylesheet", href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css")
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js")

block content
  .card.shadow
    .card-body
      h2.text-center.h5.mb-4 Listado de Pacientes

      
      .d-flex.justify-content-center.mb-4
        #customSearchContainer

      table#tablaPacientes.table.table-striped.mt-4
        thead
          tr
            th Apellido y Nombres
            th Documento
            th Fecha de Nacimiento
            th Cobertura
        tbody
          if pacientes && pacientes.length
            each paciente in pacientes
              tr
                td= paciente.apellidonombres
                td= paciente.documento
                td
                  if paciente.fechanacimiento
                    - const fecha = new Date(paciente.fechanacimiento);
                    - const dia = String(fecha.getDate()).padStart(2, '0');
                    - const mes = String(fecha.getMonth() + 1).padStart(2, '0');
                    - const anio = fecha.getFullYear();
                    = `${dia}/${mes}/${anio}`
                td
                  if paciente.cobertura
                    = paciente.cobertura.denominacion
                  else
                    | Sin cobertura
          else
            tr
              td(colspan="4").text-center No se encontraron pacientes.

  script.
    $(document).ready(function() {
      const tabla = $('#tablaPacientes').DataTable({
        paging: true,
        searching: true,
        info: true,
        language: {
          url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
        },
        initComplete: function () {
          
          const label = $('.dataTables_filter label');
          label.addClass('d-flex align-items-center gap-2');
          label.contents().filter(function(){ return this.nodeType === 3; }).wrap('<span class="me-2 fw-bold"></span>');

          
          $('.dataTables_filter input')
            .addClass('form-control fw-bold')
            .css({ 'text-transform': 'uppercase', 'width': '300px' });

          
          $('#customSearchContainer').append($('.dataTables_filter'));

          
          $('.dataTables_paginate')
            .addClass('d-flex justify-content-between align-items-center mt-3')
            .find('a')
            .addClass('btn btn-primary mx-1');

          $('.dataTables_info')
            .addClass('mt-3 fw-bold text-center w-100');
        }
      });
    });
